{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="">
    <h1>Profile</h1>
    <img src="{{ app.user.gravatar}}" alt="">
    <p>
        <a href="">Edit Account</a> |
        <a href="">Change Password</a>
    </p>

</div>
{% endblock %}