<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
  </head>
  <body>
    {% for type, messages in app.flashes(['success', 'error', 'info']) %}
      {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}
  </body>
</html>
